.user {
    align-items: center;
    padding: 0px 12px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        margin-top: 10px;

        .avatar {
            align-self: center;
            justify-self: center;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        .info {

            p {
                margin: 0px;
                font-size: 14px;
                cursor: pointer;
                font-weight: bold;
            }

            span {
                font-size: 12px;
                color: lightgrey;

            }
        }


    }

    button {
        margin-top: 10px;
        justify-self: end;
        border-radius: 15px;
        padding: 8px 15px;
        font-weight: bold;
        border: none;
    }

    button:hover {
        background-color: rgba(156, 156, 156, 0.726);
    }


}

.user:hover {
    background-color: rgba(211, 211, 211, 0.215);

}

.more {
    padding: 12px 10px 15px 10px;
    cursor: pointer;
    color: rgb(27, 114, 174);

}

.more:hover {
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(211, 211, 211, 0.215);
    text-decoration: underline;
}
